[Unit]
Description=gbr autocommissioning setup
After=wpantund.service otbr-agent.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/gbr-commission
Restart=on-failure
RestartSec=5
RestartPreventExitStatus=SIGKILL

[Install]
WantedBy=multi-user.target
